.cabecera{
    --ion-background-color: #0d47a1;
}

#colorTexto{
    color: white;
}

.button-footer {
    margin: auto;
}

#foto {
    text-align: center;
}
@media (orientation: landscape) {
    .footer {
        justify-content: center;
        --ion-background-color: #cfd8dc;
    }
}

@media (orientation: portrait) {
    .textoFooter {
        font-size: 0;
        --ion-background-color: #cfd8dc;
    }
    .footer {
        --ion-background-color: #cfd8dc;
    }
}