
.icon {
    font-size: 25px;
    color: black;
}

.footer{
    --ion-background-color: #cfd8dc;
}

.cabecera{
    --ion-background-color: #0d47a1;
}

#colorTexto{
    color: white;
}

@media (orientation: portrait){
    #orientacion {
        height: 0;
        visibility: collapse;
    }
}
