<ion-header class="cabecera">
  <ion-toolbar>
    <ion-title id="colorTexto">
      Proyecto Downhill
    </ion-title>
    <ion-buttons slot="end" style="color: white;">
      <ion-button title="Cerrar sesión" *ngIf="userUID !== ''" (click)="logout()"><ion-icon name="log-out"></ion-icon></ion-button>
      <ion-button title="Iniciar Sesión" *ngIf="userUID == ''" (click)="navigateToLogin()"><ion-icon name="log-in"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <p hidden>{{ userUID }}</p>
  <h1><ion-icon ios="md-contact" md="md-contact"></ion-icon>&nbsp;LISTA DE RIDERS</h1>
  <ion-list>
    <ion-item *ngFor="let documentRiders of arrayColeccionRiders" (click)="navigateToRiders(documentRiders.id)">
      <ion-grid>
        <ion-row>
          <h3><ion-icon ios="ios-body" md="md-body"></ion-icon>&nbsp;Nombre: {{documentRiders.data.nombre}}</h3>
        </ion-row>
        <ion-row>
          <h3><ion-icon ios="md-bicycle" md="md-bicycle" class="icon"></ion-icon>&nbsp;Modelo de la bicicleta:<i>{{documentRiders.data.modeloBicicleta}}</i></h3>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigateToRiders('new')" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-footer class="footer">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="navigateToImagenes()" class="button-footer">
        <ion-icon ios="ios-albums" md="md-albums" class="iconos"></ion-icon>
        <label class="texto-boton" class="textoFooter">Imágenes</label>
      </ion-button>
      <ion-button (click)="navigateToInfoEvent()" class="button-footer">
        <ion-icon ios="md-calendar" md="md-calendar" class="iconos"></ion-icon>
        <label class="texto-boton" class="textoFooter">Info eventos</label>
      </ion-button>
      <ion-button (click)="navigateToPatrocinadores()" class="button-footer">
        <ion-icon ios="ios-people" md="ios-people" class="iconos"></ion-icon>
        <label class="texto-boton" class="textoFooter">Patrocinadores</label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
