<ion-header class="cabecera">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button (click)="navigateToInicio()"></ion-back-button>
    </ion-buttons>
    <ion-title id="colorTexto">Imagenes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 align="center">Galería de imágenes de los eventos</h2>
  <h4>Red Bull Rampage:</h4>
  <div id="img">
    <td><img src="https://da3.rbmbtnx.net/v4/RBTV/pd/FO-1X7SQ9CQS5N11/im/a:s/st:s_AR3UEOP7QhNdtQWe6ESW/display_portrait-redbullrampage_2018_utahrampagerevealed.jpg" width="350" height="450"></td>
    <td><img src="https://img.redbull.com/images/c_crop,x_1306,y_0,h_2130,w_1278/c_fill,w_1150,h_1917/q_70,f_auto/redbullcom/2018/07/11/d88458dc-1cb6-4788-b0b3-ffc203afe753/red-bull-rampage-2018" width="350" height="450"></td>
    <td><img src="https://img.redbull.com/images/c_crop,x_1989,y_0,h_2560,w_1536/c_fill,w_1150,h_1917/q_70,f_auto/redbullcom/2019/10/28/b72f67bc-5469-4c3c-8c7d-ea30dbb95b76/redbullrampage_2019_utah_landscape_headermedia" width="350" height="450"></td>
  </div>
</ion-content>
<ion-footer class="footer">
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="navigateToImagenes()" class="button-footer">
        <ion-icon ios="ios-albums" md="md-albums" class="iconos"></ion-icon>
        <label class="texto-boton" class="textoFooter">Imágenes</label>
      </ion-button>
      <ion-button (click)="navigateToInfoEvent()" class="button-footer">
        <ion-icon ios="md-calendar" md="md-calendar" class="iconos"></ion-icon>
        <label class="texto-boton" class="textoFooter">Info eventos</label>
      </ion-button>
      <ion-button (click)="navigateToPatrocinadores()" class="button-footer">
        <ion-icon ios="ios-people" md="ios-people" class="iconos"></ion-icon>
        <label class="texto-boton" class="textoFooter">Patrocinadores</label>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-footer>
